/* 1.5rem, .9rem , .8rem, .7rem */

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #f0f5f8;
}
.cards {
  position: inherit;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 1rem 2rem;
}
.c-wrapper {
  position: relative;
  height: 100%;
  display: grid;
  overflow-y: scroll;
}
.c-wrapper::-webkit-scrollbar {
  width: 5px;
  transition: all 0.3;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cfd7d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cfd7d9;
  border-radius: 10px;
}

.cards_container-card {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  box-shadow: 0px 5px 15px #cfd7d9;
  padding: 1.5rem 0;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.cards_container-card:hover {
  transform: translate(0.2rem, -0.2rem);
}

.card-tagline {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}

.card-logo-wrapper {
  width: 3rem;
  margin: 2.5rem auto;
}
.card-logo-alter {
  width: 5rem;
  margin: 2.5rem auto;
}
.card-logo {
  width: 100%;
}
.card-timer {
  color: #fdba78;
}
.card-time {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: lighter;
}
/* #CFD7D9 */
.card-timer-disabled {
  color: #cfd7d9;
}
.cards-shopping {
  display: flex;
  flex-direction: row;
  margin-top: 1.1rem;
}
.cs-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-shopping-stats {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.card-shopping-heading {
  color: #babebe;
  font-size: 0.7rem;
}

/* MenuBar */

.menubar-container {
  position: relative;
  width: 18%;
  height: 100vh;
  background-image: linear-gradient(#26abce, #11589a);
  color: #cfd7d9;
  padding: 1rem 0rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  border-radius: 3px 0 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.options-wrapper {
  padding: 0rem 1.5rem;
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.options-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3rem 0;
}
.menubar-heading {
  font-size: 1.2rem;
  /* margin-bottom: 1.5rem; */
}
.options-noti {
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-border-selected {
  width: 100%;
  border-left: 3px solid #fdba78;
}
.options-icon {
  width: 50%;
}
.options-name {
  width: 50%;
}
.sub-options {
  margin: 0 0 2rem 1.5rem;
  padding-left: 2.5rem;
  cursor: pointer;
}
.options-left {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.options-count {
  width: 2rem;
}
.options-count-number {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: #fdba78;
  color: whitesmoke;
  display: grid;
  place-items: center;
}
.notification-about-container {
  width: 100%;
  background-color: #288cbe;
  border-radius: 3px;
  font-size: 0.7rem;
  text-transform: none;
  margin-bottom: 2rem;
  padding: 1.2rem 1rem;
}

.logo-menu-wrapper {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #3d9ac5;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.logo-menu-div {
  width: 0.6rem;
  margin: 0 auto;
}
.menu-logo {
  width: 100%;
}

.logo-menu-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}
.logo-menu-title {
  color: white;
  margin-left: 0.5rem;
}
.menu-logo-title {
  font-weight: bold;
}

.menu-logo-body {
  line-height: 1.5;
  color: white;
}

.bottom-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}
.icon-bottom {
  background-color: #1e64a2;
  padding: 1rem 1.2rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icon-bottom:hover {
  transform: translateY(-0.2rem);
}
.menu-icons {
  width: 1rem;
}
/* header */
.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.5rem;
  font-size: 1.2rem;
}
.header-left {
  width: 50%;
}
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.notification-header {
  width: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.noti-num {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  display: grid;
  place-items: center;
  color: white;
  font-size: 0.6rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
}
.header-search-icon {
  position: absolute;
  display: grid;
  place-items: center;
  transform: translateX(70%);
}
.search-bar-input {
  font-family: inherit;
  width: 100%;
  box-shadow: 0px 5px 10px #cfd7d9;
  outline: none;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile-pic {
  width: 2rem;
}
.profile-name {
  margin-left: 0.5rem;
}

/* utilities */
.margin-left-small {
  margin-right: 0.3rem;
}
.zero-line {
  line-height: 0;
}

::-webkit-input-placeholder {
  color: #cfd7d9;
}
.color-fontweight {
  color: white;
  font-weight: 700;
}
.pad-1 {
  padding: 0 1.5rem;
}
